In [38]:
import pandas as pd
import model_wrappers as mw

DIMENSIONS = ['v_{0}'.format(i + 1) for i in range(300)]

# read in the semantic model
en = mw.FastVector('wiki.en.vec')

### 1: Positive and Negative Comparitors
#### 1.1: Vectors for positive words

In [39]:
# taken from appendix A of http://psycnet.apa.org/fulltext/1998-02892-004.html#appendix_psp_74_6_1464
positive = pd.DataFrame(dict(attribute = ["caress", "freedom", "health", "love", "peace", "cheer", "friend", "heaven", "loyal", 
                  "pleasure", "diamond", "gentle", "honest", "lucky", "rainbow", "diploma", "gift", "honor",
                  "miracle", "sunrise", "family", "happy", "laughter", "paradise", "vacation"]))

positive['valence'] = 'positive'

positive = positive.join(positive.apply(lambda row: pd.Series(en[row['attribute'].lower()], index = DIMENSIONS), axis = 1))

#### 1.2: Vectors for negative words

In [41]:
# appendix A of http://psycnet.apa.org/fulltext/1998-02892-004.html#appendix_psp_74_6_1464
negative = pd.DataFrame(dict(attribute = ["abuse", "crash", "filth", "murder", "sickness", "accident", "death", "grief", "poison", 
                  "stink", "assault", "disaster", "hatred", "pollute", "tragedy", "bomb", "divorce", "jail",
                  "poverty", "ugly", "cancer", "evil", "kill", "rotten", "vomit", "agony"]))

negative['valence'] = 'negative'
negative = negative.join(negative.apply(lambda row: pd.Series(en[row['attribute'].lower()], index = DIMENSIONS), axis = 1))

#### 1.3: Combining the comparitor datasets

In [45]:
comparitors = pd.concat([positive, negative], ignore_index = True)

### 2: Names
#### 2.1: Vectors for names

In [36]:
names = pd.read_csv('names.csv') # read in the names

# check which names got vectors
in_model = names.apply(lambda row: row['name'].lower() in en, axis = 1) 

# subset out unusuable names
names = names[in_model].copy()

# retrieve vectors and add to name df
names = names.join(names.apply(lambda row: pd.Series(en[row['name'].lower()], index = DIMENSIONS), axis = 1))

### 3: Analysis
#### 3.1: Utils

In [62]:
import numpy as np

cosine = lambda v1, v2: np.dot(v1, v2) / (np.linalg.norm(v1) * np.linalg.norm(v2))

score_name = lambda name_row: comparitors.apply(lambda comparitor_row: cosine(name_row[DIMENSIONS].values, comparitor_row[DIMENSIONS].values) , axis = 1)

#### 3.2: computing similarities

In [63]:
results = names.apply(score_name, axis = 1)

In [65]:
results.columns = comparitors.attribute.values

results['name'] = names.name.values

In [71]:
#results.to_csv('name-results.csv', index = False)

#### 3.2: Example: What is the luckiest name?

In [86]:
results.sort_values(by = 'lucky', ascending = False)[['name', 'lucky']]

            name     lucky
4432       Sonny  0.424140
3008        Love  0.423179
590        Buddy  0.420261
755       Chance  0.416936
2075        Jack  0.415908
601       Buster  0.413532
1525       Essie  0.411188
4182       Sammy  0.409079
4171       Sally  0.408517
3856       Polly  0.408397
488       Billie  0.405847
3000       Louie  0.402689
4176    Samantha  0.401944
3153       Mandy  0.401824
4679       Timmy  0.401276
4002      Richie  0.400555
491       Birdie  0.399697
596        Bunny  0.396510
3025     Luciano  0.396352
2315      Johnny  0.393308
3449      Mickey  0.391847
4006      Rickie  0.388163
3049        Luke  0.387410
439        Benny  0.387153
629        Candy  0.386774
2826        Lena  0.384105
4440     Sparkle  0.382379
3483       Mindy  0.382180
3649       Nicky  0.381693
1676     Frankie  0.380471
...          ...       ...
2052        Isis  0.081826
1606          Fe  0.081768
2038         Isa  0.081705
4783         Ula  0.081003
1977    Humberto  0.080964
2803        Leda  0.078572
3086         Mac  0.078556
2917        Linn  0.076993
3871        Pura  0.076146
3606        Neda  0.075846
3155      Manual  0.074747
3479         Min  0.073676
113         Alia  0.073162
1997         Ila  0.072674
69          Alba  0.070837
1752     Georgia  0.068061
4965      Wilton  0.066931
1650     Florida  0.065749
1466     Emerita  0.065619
3250      Marine  0.060320
4054       Roman  0.059978
1          Abbey  0.057763
4657         Thu  0.056773
3429        Meta  0.055568
935   Conception  0.052261
4975          Wm  0.050959
382         Avis  0.043985
4417     Socorro  0.043679
4859          Vi  0.011608
1734      Geneva -0.004227

[3172 rows x 2 columns]